section {
    background-color: #202020;
}

.header {
	margin-bottom: 0;
    border: 0;
    border-bottom: 15px solid #e84855;
    background: rgb(255,255,255);
	background-size: 100% 100%;    
   
    .navbar {
        
        margin: 0 auto;
        top: 45%;
        
        a {
            text-decoration: none;
            color: rgba(0,0,0,0.8);
            font-family: 'Dosis', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 10px;
            opacity: 0.4;
            font-size: 2rem;
            
            &:hover {
                opacity: 1;
                transition: opacity 1.5s;
            }
        }
        
        .logo {
            background-image: url('../img/logo-sprite.png');
            background-position: -3px -3px;
            display: inline-block;
            margin: -90px 20px;
            font-size: 20px;
            width: 215px;
            height: 225px;
            opacity: 1;
        }
    }
    
    .navbar-fixed-top {
        background-color: white;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        margin: 0;
        padding: 0;
        top: 0;
        
        a{
            color: rgba(0,0,0,0.8);
            padding: 0 10px;
            line-height: 92px;
        }
        
        .logo {
            background-image: url('../img/logo-sprite.png');
            background-position: 0px -275px;
            display: inline-block;
            margin: -30px 20px;
            font-size: 20px;
            width: 80px;
            height: 75px;
            opacity: 1;
            
        }
    }
    
}




#whatido, #aboutme, #projects, #contact {
    font-family: 'Raleway', sans-serif;
    color: #EAEAEA;
    
    h4 {
        color: #e84855;
        display: initial;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    p {
        display: inital;
        font-size: 14px;
        margin: 30px 0 80px 0;
        opacity: 0.5;
    }
}

#whatido {
    h1 {
        margin: 0;
        padding-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
           
    span, .title {
        font-family: 'Dosis', sans-serif;
    }
    
}

#aboutme {
    font-family: 'Dosis', sans-serif;
    position: relative;
    
    .personal-resume {
        h1 {
            font-size: 8em;
            margin: 0;
            color: #e84855;
        }

        h2 {
            font-size: 30px;
            margin-top: -5px;
        }

        p {
            margin: 0;
        }
    }
    
    .bio {
        p {
            font-size: 21px;
        }
        
    }
    
    .skills {
        font-size: 1.4em;
        margin-top: 50px;
        
        .progress {
            background-color: rgba(255, 255, 255, 0.1);
            height: 40px;
            border-radius: 0;
            
            .progress-bar {
                background: #e84855;
                text-align: left;
                padding-left: 10px; 
                
                span {
                    font-size: 2rem;
                    line-height: 40px;
                    display: block;
                }
            }
        }
    }
}


.container-bottom {
    position: absolute;
    top: 0px;
}

#projects {
    .projects {
        padding: 2px;
        
        h1 {
            color: #e84855;
        }
        
        div{
            float: left;
            padding: 2px;
            position: relative;
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        }
        a,
        a img {
            display: block;
            position: relative;
        }
        a {
            overflow: hidden;
        }
        a div {
            position: absolute;
            background: rgba(32, 32, 32, 0.9);
            width: 100%;
            height: 100%;
        }
        a div.custom-hover-object {
            position: absolute;
            background: rgba(255,255,255,0.1);
            width: 100%;
            height: 100%;
        }
        span {
            display: block;
            padding: 10px 0;
            margin: 40px 20px 20px 20px;
            text-transform: uppercase;
            font-weight: normal;
            color: rgba(255,255,255,0.5);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            border-top: 1px solid rgba(255,255,255,0.5);
        }
        a div.custom-hover-object span {
            color: rgba(75,75,75,0.9);
            text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
            border-bottom: 1px solid rgba(0,0,0,0.5);
            box-shadow: 0 1px 0 rgba(255,255,255,255.1), 0 -10px 0 rgba(0,0,0,0.3);
        }
        
        a div {
            
            top: 100%;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        a:hover div{
            top: 0;
        }
    } 
}

#contact {
    span {
        color: #e84855;
        font-size: 2rem;
    }
    .icon {
        background: url('../img/icons-sprites.png');
        display: block;
        height: 80px;
        width: 80px;
        margin: 10px auto;
    } 
    
    .icon-phone {
        background-position: -3px -7px;
    }
    
    .icon-mail {
        background-position: -83px -7px;
    }
    
    .icon-location {
        background-position: -165px -7px;
    }
        
    .row {
        margin-top: 40px;
    }
    
    form {
        label {
            font-family: 'Dosis', sans-serif;
            font-size: 1.6rem;
        }
        
        input, textarea {
            background: rgba(0,0,0,0.1);
            border: 0px;
            color: white;
            height: 50px;
        }
        
        textarea {
            height: 150px;
        }
        
    }
}

.modal-header {
    padding: 0;
}

.projects-modal {
    .modal-content {
        background: #202020;
        color: white;
        border-radius: 0;
        font-family: 'Dosis', sans-serif;
        
        h1 {
            color: #e84855;
            margin: 0;
            margin-bottom: 10px;
        }
        
        h4 {
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            padding-top: 5px;
            color: rgba(255, 255, 255, 0.3);
            font-size: 1.4rem;
        }
    }
    .modal-body {
        border-top: 5px solid #e84855;
    }
    img {
        width: 100%;
    }
}


